body{
    font-family: 'Ovo', serif;
    font-size: 14px;
    text-align: "center";
    text-shadow: 0 -1px;
    margin: 0 auto 0 auto;
    color: #ffffff;
    height:100%;
}

#modalDisplay {
    display:none; /* starts out hidden */
    z-index:40001; /* High z-index to ensure it appears above all content */
}
#modalDisplay #modalDisplayOverlay { /* Shades out background when selector is active */
    position:fixed;
    width:100%;
    height:100%;
    background-color:#01305a;
    opacity:.8; /* Sets opacity so it's partly transparent */
    z-index:40001;
}
#modalDisplay  #vertical-offset { /* Fixed position to provide the vertical offset */
    position:fixed;
    top:10%;
    width:100%;
    z-index:40002; /* ensures box appears above overlay */
}
#modalDisplay  #modalContents { /* The actual box, centered in the fixed-position div */
    width:80%;
    position:relative;
    margin:0 auto;
    /*Everything below is just visual styling */
    background-color:#012341;
    text-decoration: none;
    color:#ffffff;
    padding:10px;
    border:1px solid white;
    overflow-x:auto;
    overflow-y:auto;
}
#modalClose {
    position:absolute;
    top:-8px; /* Half the icon's height */
    right:-8px; /* half the icon's width */
    z-index:40003;
}

#title {
    font-size: 30px;
    text-align: left;
    background-color: #e6e6e6;
    color: #411f01;
}
#webinosVersion{
    font-size: 10px;
    background-color: #e6e6e6;
    color: #411f01;
    text-align: right;
    font-style: italic;
}
#container{
    margin:0;
    padding-left: 200px;
    padding-right: 240px;
    min-width: 240px;
    color: #ffffff;
}
.column {
    padding-top: 1em;
    float: left;
    position: relative;
    height:100%;
}

#left {
    width: 200px;        /* LC fullwidth - padding */
    padding: 0 10px;
    right: 240px;        /* LC fullwidth */
    margin-left: -100%;
    background-color:#012341;
}
#center {
    width: 100%;
    padding: 0 10px;
    background-color:#01305a;
}
#right {
    width: 200px;  /* RC width */
    padding: 0 10px;
    margin-right: -100%;
    background-color:#012341;
}
#footer {
    width:100%;
    font-size: 15px;
    top: 90%;
    color: black;
    text-align: center;
    position: fixed;
}
* html #left {
    left: 150px;           /* RC fullwidth */
}
.eachElement{
    display: block;
    background-color:#01305a;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    margin-left: auto ;
    margin-right: auto ;
    padding: 10px;
    border:1px solid #012341;
    text-transform:uppercase;
}
a.fill-div {
    color:#ffffff;
    font-weight:bold;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration:none;
}
a.fill-div:visited {
    color:#ffffff;
    text-decoration:none;
}
a.fill-div:hover {
    border-bottom:1px solid #e6e6e6;
}
